annotated-types==0.7.0
anthropic==0.46.0
anyio==4.9.0
appdirs==1.4.4
beautifulsoup4==4.13.4
cachetools==5.5.2
certifi==2025.6.15
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.1
distlib==0.3.9
distro==1.9.0
einops==0.8.1
fastapi==0.116.0
filelock==3.18.0
filetype==1.2.0
fsspec==2025.5.1
ftfy==6.3.1
google-auth==2.40.3
google-genai==1.24.0
h11==0.16.0
hf-xet==1.1.5
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.33.2
identify==2.6.12
idna==3.10
Jinja2==3.1.6
jiojio==1.2.8
jionlp==1.5.23
jiter==0.10.0
joblib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8ff7uji0v2/croot/joblib_1718217225309/work
loguru @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_deuhywgtcz/croot/loguru_1729800304209/work
lxml @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1cc0pw19wu/croot/lxml_1737040416995/work
markdown2==2.5.3
markdownify==1.1.0
marker-pdf==1.8.1
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.5
nodeenv==1.9.1
numpy==2.2.6
openai==1.93.1
opencv-python-headless==4.12.0.88
packaging==24.2
pdftext==0.6.3
pillow==10.4.0
platformdirs==4.3.8
pre_commit==4.2.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
PyMuPDF==1.26.3
pypdfium2==4.30.0
pyshark==0.6
python-dotenv==1.1.1
python-pptx @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_57qf41o_6_/croot/python-pptx_1737731923483/work
PyYAML==6.0.2
RapidFuzz==3.13.0
regex==2024.11.6
requests==2.32.4
rsa==4.9.1
safetensors==0.5.3
scikit-learn @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2coq3750ge/croot/scikit-learn_1737988773864/work
scipy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_567ogtwk2r/croot/scipy_1747238053926/work/dist/scipy-1.15.3-cp311-cp311-macosx_11_0_arm64.whl#sha256=809a07a4f7e84be404963410c062f84347094637b750c519fc33b354cd163d1f
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
starlette==0.46.2
surya-ocr==0.14.6
sympy==1.14.0
tenacity==8.5.0
termcolor==2.5.0
threadpoolctl @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_efa5bvb6vi/croot/threadpoolctl_1719407806403/work
tokenizers==0.21.2
torch==2.7.1
tqdm==4.67.1
transformers==4.53.1
typing==3.7.4.3
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.5.0
uvicorn==0.35.0
virtualenv==20.31.2
wcwidth==0.2.13
websockets==15.0.1
XlsxWriter @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_40ior33u1b/croot/xlsxwriter_1746219514137/work
zipfile36==0.1.3
